.first{background-color:#8cf1ff}
.second{background-color:#8cf1ff}
h1{
font-family: Arial;
color:red;
text-align: center;
font-weight: bold;
font-size: 40px;
}
p{
font-family:Arial;
font-size:14px;
text-align: center;
}
img{
    display: block;
    margin: auto;
}
first{
text-align: center;
}
button {
    background-color: #f44336; 
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button:hover{
    background-color: white; 
}
